:root {
  --bg-color: #b36b39;
  --card-color: #fff;
  --nav-color: #ffffff;
  --dashboard-color: #b36b39;
  --link-color: #007bff;
  --hover-color: rgb(85, 0, 67);
}

* {
  border-radius: 10px;
}

body {
  background-color: var(--bg-color);
  height: 100vh;
  margin: 0px;
  padding: 0px;
  font-family: "Abel";
  font-size: 22px;
  animation: fadeIn 5s;
  background-image: url("https://cdn.dribbble.com/users/230034/screenshots/17065208/media/611d28168907ba1f353acd9dbb09d923.gif");
  background-blend-mode: color-dodge;
  background-repeat: repeat;
  overflow-x: hidden;
}

/* Animations */
@keyframes slideInDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideInUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* background */

#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

/* dashboard */
.dashboard {
  background-color: var(--dashboard-color);
  height: fit-content;
  max-width: 84%;
  margin: 4% 8%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  overflow: hidden;
  padding: 10px;
  /* animation: 0.9s ease-out 0s 1 slideInLeft; */
}

.text {
  max-width: 724px;
  font-size: 20px;
  text-align: center;
  position: relative;
  display: block;
  color: rgb(255, 255, 255);
}
.button {
  background-color: var(--link-color);
  border: none;
  color: white;
  padding: 10px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 26px;
}
.image {
  object-position: 10px;
  object-fit: cover;
  overflow: hidden;
  /* margin-right: -400px; */
}

/* counter */

.counter {
  height: fit-content;
  max-width: 84%;
  margin: 4% 8%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  overflow: hidden;
  gap: 20px;
  animation: 0.8s ease-out 0s 1 slideInUp;
}

.count {
  background-color: var(--nav-color);
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  height: 90px;
  flex-direction: row;
  position: relative;
  width: 360px;
  text-align: center;
  padding: 10px;
}

.count img {
  padding-left: 10px;
}

.count h1 {
  padding-left: 10px;
}
.count p {
  padding-left: 10px;
  margin-top: 13%;
}

.para {
  background-color: var(--nav-color);
  max-width: 84%;
  margin: 4% 8%;
  font-size: 20px;
  text-align: center;
  position: relative;
  display: block;
  padding: 2% 12%;
}

.para h4 {
  color: var(--link-color);
  margin-bottom: -14px;
}

/* footer */

.footer {
  text-align: center;
}

.dashboard {
  background-color: var(--dashboard-color);
  height: 80vh;
  max-width: 84%;
  border-radius: 10px;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
  padding: 10px;
}

.dashboard h1 {
  color: black;
}

.text {
  color: #000011;
}
